---
layout: default
description: We are a group of tech enthusiasts who are passionate about technology and its applications.
title: Stall Reg Jhankaar24 | Techverse
---

<style>
    .card-img-top{
        height: 200px;
        object-fit: cover;
    }
</style>
<!-- include header -->
{% include navbar.html %}
<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header-events py-6 my-6 mt-0 ">
    <div class="container text-center">
        <h1 class="display-3 text-white animated slideInDown mb-4">TechVerse Registration</h1>
        <h3 class="display-6 text-white animated slideInDown mb-4">For Jhankaar'24 Fun Fair Stall</h3>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/events.html">Events</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/events/jhankaar/">Jhankaar</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="#">Stall Registration</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Courses Start -->
<div class="container-xxl py-6" id="game_container">
    <div class="container">
        <div class="text-center mx-auto mb-5 " style="max-width: 80%;">
            <h6 class="text-primary text-uppercase mb-2">Details</h6>
            <h1 class="display-6 mb-4">Games</h1>
            <h6 class="text-secondary text-uppercase mb-2">Select Game to Proceed</h6>
        </div>
        <div class="row g-4 justify-content-center" id="game_cards">
            <div class="col-lg-4">
                <div class="card border-0 shadow">
                    <img class="card-img-top" src="/img/No-Image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">No Games Available <span
                                class="badge bg-primary float-end">Loading</span></h5>
                        <p class="card-text">There are no games available to play, Sorry For Inconvenience</p>
                        <p class="card-text"><small class="text-muted">No Game</small></p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" disabled>Register to Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses End -->



<!-- Form Start -->
<div class="container-xxl courses my-6 p-1" id="RegistrationForm" style="display: none;">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-8 my-6 ">
                <div id="form_container" class="bg-primary text-center p-5">
                    <h1 class="mb-4">Register Now</h1>
                    <h3 class="mb-4" id="selected_game">NA</h3>

                    <form id="form_student" method="post">
                        <!-- game id input hidden -->
                        <input type="hidden" name="game_id" id="game_id" value="" required>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" id="name" name="name" required>
                                    <label for="name">Full Name*</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control border-0" id="email" name="email" required>
                                    <label for="email">Email*</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" id="mobile_no" name="mobile_no">
                                    <label for="mobile_no">Mobile No</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" id="college_prn" name="college_prn"
                                        required>
                                    <label for="college_prn">College PRN*</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" id="form_student_submit_btn"
                                    type="submit">Next</button>
                            </div>
                        </div>
                    </form>

                    <form id="form_pass" style="display: none;" method="post">
                        <div class="row g-3" id="pass-list">
                            <div class="pass-div row g-3 col-12">
                                <div class="col-sm-5">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" name="pass_no[]" required>
                                        <label for="pass_no">Pass/Ticket No</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-floating">
                                        <select name="pass_count[]" class="form-select border-0" required
                                            style="padding-top: auto;">
                                            <option value="" disabled selected hidden>Select Number of
                                                Tickets</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-dark w-100 py-3" id="add_more_pass">Add
                                        Pass</button>
                                </div>
                            </div>

                        </div>
                        <div class="row g-3">
                            <!-- checkbox for terms and conditions -->
                            <div class="col-12">
                                <div class="form-check d-flex align-items-center m-2">
                                    <input class="form-check input-check border-0" type="checkbox" value=""
                                        id="flexCheckDefault" required>
                                    <label class="form-check-label" style="color: white;" for="flexCheckDefault">
                                        I agree that "I will Use the Equipment and Facilities of the
                                        Stall in a Proper Manner and will not cause any damage to the equipment and
                                        facilities. and also I will not cause any disturbance to the other
                                        participants and visitors of the event.
                                        Failure to comply with the above terms I will have to pay the
                                        fine for the damage caused."
                                    </label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" id="form_pass_submit_btn"
                                    type="submit">Submit</button>
                            </div>
                        </div>
                    </form>

                    <p class="mt-2" style="float: left; color: white;">Note: * Indicates Required</p>
                    <div style="clear: both;"></div>
                    <h5 id="error_msg" class="p-2 text-white text-xxl-center"></h5>
                </div>
                <div id="form_success" style="display: none;" class="bg-primary text-center p-5">
                    <div class="container-xxl py-6 ">
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <i class="fa fa-check-circle display-1 text-success"></i>
                                    <h2 class="mb-1">Registration Successful</h2>
                                    <h2 class="mb-2">Your Entry Code is "<span id="entry_code"></span>"
                                    </h2>
                                    <h6 class="mb-4">
                                        <span id="game_name_success">Loading</span>
                                        <br>
                                        If you Want to change game/register for another game/found Mistakes in form , Please Fill the
                                        form again. And you will get another Entry Code.
                                    </h6>

                                    <p class="mb-2 text-white">Thank you for registering for our Stall
                                        At Fun Fair. <br>
                                        Please keep the<strong> Entry Code</strong> with you, It will be <strong>verified</strong> with Physical
                                            Pass provided. <br>
                                        You will receive a registration email shortly along with the code.
                                    </p>
                                    <p class="mb-4 text-white">
                                        You have to report to stall, and wait for other participants to complete their
                                        Games.
                                    </p>
                                    <a class="btn btn-primary py-3 px-5" href="/events/jhankaar/">Go
                                        Back To Details Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<script type="module">
    import { backend_url, setLoading, offLoading } from '/js/script.js';

    document.getElementById("nav-events").classList.add("active");
    window.onload = async () => {
        window.scroll({
            top: 0,
            behavior: 'smooth'
        });
        setLoading();
        await getActiveGames();
        offLoading();
        document.getElementsByName("pass_count[]").forEach(element => {
            element.addEventListener('change', handle_change_in_pass);
        });
    };

    var req_game_tkt = 5;

    // get games from jhankaar/games/
    async function getActiveGames() {
        var response = await fetch(`${backend_url}/jhankaar/games/`);

        if (response.ok) {
            var result = await response.json();
            var game_cards = document.getElementById('game_cards');
            game_cards.innerHTML = "";
            result.forEach(game => {
                var card = document.createElement('div');
                card.classList.add('col-lg-4');
                card.innerHTML = `
                    <div class="card border-0 shadow">
                        <img class="card-img-top" src="${backend_url + game.game_image}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${game.game_name}
                                <span class="badge bg-primary float-end">${game.game_type}</span>
                            </h5>
                            <span class="badge bg-secondary"> <i class="fa fa-star" ></i> ${game.game_rating}</span>    
                            <p class="card-text">${game.game_description}</p>
                            <p class="card-text"><small class="text-muted">Need <strong class="card-test">${game.game_price}</strong> Tickets to Play</small></p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" id="reg_game${game.game_id}" >Register to Play</button>
                        </div>
                    </div>
                `;
                game_cards.appendChild(card);
                document.getElementById(`reg_game${game.game_id}`).addEventListener('click', function (e) {
                    e.preventDefault();
                    document.getElementById('game_id').value = game.game_id;
                    document.getElementById('RegistrationForm').style.display = "block";
                    document.getElementById('form_container').scrollIntoView({ behavior: 'smooth' });
                    document.getElementById('selected_game').innerText = "For Playing " + game.game_name;
                    req_game_tkt = game.game_price;
                    manage_pass_inputs();
                    handle_change_in_pass();
                    document.getElementById('error_msg').innerText = "Please check the passes before submitting the form.";
                });
            });
        } else {
            document.getElementById('error_msg').innerText = "Something Went Wrong. Please Try Again Later.";
        }
    }

    function manage_pass_inputs() {
        if (req_game_tkt == 1) {
            document.getElementById('add_more_pass').style.display = "none";
        } else {
            document.getElementById('add_more_pass').style.display = "block";
        }
    }

    function handle_change_in_pass() {
        var pass_count = document.getElementsByName('pass_count[]');
        var total_pass = 0;
        for (var i = 0; i < pass_count.length; i++) {
            total_pass += parseInt(pass_count[i].value);
        }
        if (total_pass < req_game_tkt) {
            document.getElementById('form_pass_submit_btn').disabled = true;
            document.getElementById('error_msg').innerText = "You Need " + req_game_tkt + " Tickets to Play";
        } else if (total_pass > req_game_tkt) {
            document.getElementById('form_pass_submit_btn').disabled = true;
            document.getElementById('error_msg').innerText = "You Can't Register More Than " + req_game_tkt + " Tickets";
        } else {
            document.getElementById('form_pass_submit_btn').removeAttribute('disabled');
            document.getElementById('error_msg').innerText = "Please Keep the entered Passes With You We will verify them at the stall.";
        }
    }

    // for adding and deleting pass
    document.getElementById('add_more_pass').addEventListener('click', function (e) {
        e.preventDefault();
        var pass_div = document.createElement('div');
        pass_div.classList.add('pass-div', 'row', 'g-3', 'col-12');
        pass_div.innerHTML = `
            <div class="col-sm-5">
                <div class="form-floating">
                    <input type="text" class="form-control border-0" name="pass_no[]" required>
                    <label for="pass_no">Pass/Ticket No</label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-floating">
                    <select name="pass_count[]" class="form-select border-0" required style="padding-top: auto;">
                        <option value="" disabled selected hidden >Select Number of Tickets</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-dark w-100 py-3 delete_this_pass">Delete</button>
            </div>
        `;
        document.getElementById('pass-list').appendChild(pass_div);
        document.getElementsByName("pass_count[]").forEach(element => {
            element.addEventListener('change', handle_change_in_pass);
        });
        var delete_btns = document.getElementsByClassName('delete_this_pass');
        for (var i = 0; i < delete_btns.length; i++) {
            delete_btns[i].addEventListener('click', function (e) {
                e.preventDefault();
                e.target.parentElement.parentElement.remove();
            });
        }

    });

    function final_pass_count_check() {
        var pass_count = document.getElementsByName('pass_count[]');
        var total_pass = 0;
        for (var i = 0; i < pass_count.length; i++) {
            total_pass += parseInt(pass_count[i].value);
        }
        if (total_pass < req_game_tkt) {
            document.getElementById('form_pass_submit_btn').disabled = true;
            document.getElementById('error_msg').innerText = "You Need " + req_game_tkt + " Tickets to Play";
        } else if (total_pass > req_game_tkt) {
            document.getElementById('form_pass_submit_btn').disabled = true;
            document.getElementById('error_msg').innerText = "You Can't Register More Than " + req_game_tkt + " Tickets";
        } else {
            document.getElementById('form_pass_submit_btn').removeAttribute('disabled');
            document.getElementById('error_msg').innerText = "Please Keep the entered Passes With You We will verify them at the stall.";
            return true;
        }
        return false;
    }


    document.getElementById('form_student').addEventListener('submit', function (e) {
        e.preventDefault();
        document.getElementById('form_student').style.display = "none";
        document.getElementById('form_pass').style.display = "block";
    });

    document.getElementById('form_pass').addEventListener('submit', async function (e) {
        e.preventDefault();
        var game_id = document.getElementById('game_id').value;
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var mobile_no = document.getElementById('mobile_no').value;
        var college_prn = document.getElementById('college_prn').value;
        var pass_no = document.getElementsByName('pass_no[]');
        var pass_count = document.getElementsByName('pass_count[]');
        var passes = "";
        for (var i = 0; i < pass_no.length; i++) {
            passes += pass_no[i].value + ':' + pass_count[i].value + ',';
        }
        passes = passes.slice(0, -1);

        var data = {
            "stu_name": name,
            "stu_email": email,
            "stu_phone": mobile_no,
            "stu_prn": college_prn,
            "stu_pass": passes,
            "stu_game": game_id
        };

        console.log(data);
        setLoading();
        var response = await fetch(`${backend_url}/jhankaar/entry/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        if (response.ok) {
            var result = await response.json();
            console.log(result);
            if (result.status == "success") {
                document.getElementById('form_container').style.display = "none";
                document.getElementById('game_container').style.display = "none";
                document.getElementById('form_success').style.display = "block";
                document.getElementById('entry_code').innerText = result.entry_id;
                document.getElementById('game_name_success').innerText = document.getElementById('selected_game').innerText;
            } else {
                document.getElementById('error_msg').innerText = result.message;
            }

        } else {
            document.getElementById('error_msg').innerText = result.message;
        }
        offLoading();
    });
</script>
<!-- include footer -->
{% include footer.html %}